<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<form name="doctorForm" ng-submit="doctorForm.$valid && createDoctor.createDoctor()" novalidate="">
    <h2>Registra un nuevo doctor</h2>
    <div class="row">
        <div class="col-md-6">
            <input ng-model="this.createDoctor.doctor.nombre" placeholder="Nombre y apellidos" type="text" class="form-control" required>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <input ng-model="this.createDoctor.doctor.noIdentificacion" placeholder="Numero de idenficaci&oacute;n" type="number" class="form-control" required>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label>Fecha de Nacimiento:</label>
            <input ng-model="this.createDoctor.doctor.fechaNacimiento" type="date" class="form-control" required>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <input ng-model="this.createDoctor.doctor.especialidad" placeholder="Especialidad" type="text" class="form-control" required>
        </div>
    </div>
    <input type="submit" value="Registrar" class="btn btn-default" >
</form>
