<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="panel panel-default">
<form name="getEpisodioDetalleform" ng-submit="getEpisodioDetalle.darEpisodioDetalle()" class="navbar-form navbar-default" role="search" novalidate>
            <div class="form-group">
              <input ng-model="getEpisodioDetalle.id" class="form-control" type="number" placeholder="Ingrese el id del episodio"  required/>
          </div>
            <input type="submit" value="ver episodio" class="btn btn-default" >
    </form>

<div class="panel panel-default ">
    <div class="panel-heading">Informaci&oacute;n del Episodio de dolor</div>
            
                <h4>Id del episodio:</h4>
           
                <h5>{{this.getEpisodioDetalle.episodio.id}}</h5>
           
                <h4>Fecha:</h4>
            
                <h5>{{this.getEpisodioDetalle.episodio.fecha | date}}</h5>
            
                <h4>Localizaci&oacute;n:</h4>
       
                <h5>{{this.getEpisodioDetalle.episodio.localizacion}}</h5>
        
                <h4>Intensidad de dolor:</h4>
            
                <h5>{{this.getEpisodioDetalle.episodio.intensidad}}</h5>
            
                <h4>Horas de sue&ntilde;o:</h4>
            
                <h5>{{this.getEpisodioDetalle.episodio.hoursSlept}}</h5>
            
    </div>
</div>
