<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<h2>Lista de Episodios</h2>
<div class="panel panel-default panel-informacion">
    <div class="panel-heading">Episodios</div>
    <table class="table">
        <thead>
            <tr>
                <th>Nombre del Paciente</th>
                <th>N&uacute;mero de Identificaci&oacute;n</th>
                <th>Id del Episodio</th>
                <th>Localizaci&oacute;n</th>
                <th>Intensidad de Dolor</th>
                <th>Fecha y Hora</th>
                <th>Horas de Sue&ntilde;o</th>
                <th>Detalles</th>>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="episodio in getEpisodios.episodios | orderBy:'fecha'">
                <th>{{episodio.paciente.nombre}}</th>
                <th>{{episodio.paciente.noIdentificacion}}</th>
                <th ng-model="getEpisodioDetalle.id">{{episodio.id}}</th>
                <th>{{episodio.localizacion}}</th>
                <th>{{episodio.intensidadDolor}}</th>
                <th>{{episodio.fecha}}</th>
                <th>{{episodio.horasDeSueño}}</th>
                <th><a href="#">Ver detalle</a></th>
            </tr>
        </tbody>
    </table>
</div>
