<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<h2>Lista de Episodios</h2>
<div class="panel panel-default">
    <ol class="breadcrumb">
      <li>Migraine Tracking</li>
      <li>Episodios</li>
      <li class="active">Informacion Detallada</li>
    </ol>
    <div class="panel-heading">Episodios</div>
    <table class="table">
        <thead>
            <tr>
                <th>Cedula del paciente</th>
                <th>Localizaci&oacute;n</th>
                <th>Intensidad de Dolor</th>
                <th>Fecha </th>
                <th>Horas de Sueno</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="episodio in this.getEpisodios.episodios | orderBy:'fecha'">
                <th>{{episodio.paciente.cedula}}</th>
                <th>{{episodio.localizacion}}</th>
                <th>{{episodio.intensidad}}</th>
                <th>{{episodio.fecha | date}}</th>
                <th>{{episodio.hoursSlept}}</th>
            </tr>
        </tbody>
    </table>
</div>
