<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="panel panel-default">
    <form name="getPacienteEpisodiosform" ng-submit="getPacienteEpisodios.buscarPacienteEpisodios()" class="navbar-form navbar-default" role="search" novalidate>
            <div class="form-group">
              <input ng-model="getPacienteEpisodios.id" class="form-control" type="number" placeholder="Ingrese el id del paciente"  required/>
          </div>
            <input type="submit" value="ver episodios" class="btn btn-default" >
    </form>
    <div class="panel panel-default">
        <div class="panel-heading">Lista de Episodios del Paciente</div>
        <table class="table">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Localizaci&oacute;n</th>
                    <th>Intensidad de Dolor</th>
                    <th>Fecha y Hora</th>
                    <th>Horas de Sueno</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="episodio in this.getPacienteEpisodios.episodios | orderBy:'fecha'">
                    <th>{{episodio.id}}</th>
                    <th>{{episodio.localizacion}}</th>
                    <th>{{episodio.intensidad}}</th>
                    <th>{{episodio.fecha | date}}</th>
                    <th>{{episodio.hoursSlept}}</th>
                </tr>
            </tbody>
        </table>
    </div>
</div>