<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="panel panel-default">
    <form name="getPacienteEpisodiosFechasform" ng-submit="getPacienteEpisodiosFechas.buscarPacienteEpisodiosFechas()" class="navbar-form navbar-default" role="search" novalidate>
            <div class="form-group">
              <input ng-model="getPacienteEpisodiosFechas.id" class="form-control" type="number" placeholder="Ingrese el id del paciente"  required/>
              <input ng-model="getPacienteEpisodiosFechas.fecha1" class="form-control" type="date" placeholder="Ingrese la fecha inicial"  required/>
              <input ng-model="getPacienteEpisodiosFechas.fecha2" class="form-control" type="date" placeholder="Ingrese la fecha final"  required/>
            </div>
            <input type="submit" value="ver episodios" class="btn btn-default" >
    </form>
    <div class="panel panel-default">
        <div class="panel-heading">Lista de Episodios del Paciente</div>
        <table class="table">
            <thead>
                <tr>
                    <th>N&uacute;mero de Identificaci&oacute;n del paciente</th>
                    <th>Localizaci&oacute;n</th>
                    <th>Intensidad de Dolor</th>
                    <th>Fecha y Hora</th>
                    <th>Horas de Sueno</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="episodio in this.getPacienteEpisodiosFechas.episodios | orderBy:'fecha'">
                    <th>{{episodio.pacienteId}}</th>
                    <th>{{episodio.localizacion}}</th>
                    <th>{{episodio.intensidadDolor}}</th>
                    <th>{{episodio.fecha | date}}</th>
                    <th>{{episodio.horasDeSueno}}</th>>
                </tr>
            </tbody>
        </table>
    </div>
</div>
