/MigraineTracking/migrainetracking.backend/target/
/MigraineTracking/migrainetracking.servicios/target/
/MigraineTracking/migrainetracking.services/target/
/MigraineTracking/migrainetracking.web/nbproject/private/
/MigraineTracking-NuevaVersion/migrainetracking.services/target/
MigraineTracking/MigraineTracking.mobile/.idea/gradle.xml