<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="grupo9.arquisoft.migrainetrackingmobile" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MenuPacienteActivity"
            android:label="@string/title_activity_menu"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="grupo9.arquisoft.migrainetrackingmobile.MainActivity" />
        </activity>
        <activity
            android:name=".RegistrarEpisodioActivity"
            android:label="@string/title_activity_registrar_episodio"
            android:parentActivityName=".MenuPacienteActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuPacienteActivity" />
        </activity>
        <activity
            android:name=".GrabarEpisodioActivity"
            android:label="@string/title_activity_grabar_episodio"
            android:parentActivityName=".MenuPacienteActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuPacienteActivity" />
        </activity>
        <activity
            android:name=".EscucharGrabacionesActivity"
            android:label="@string/title_activity_escuchar_grabaciones"
            android:parentActivityName=".MenuPacienteActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuPacienteActivity" />
        </activity>
        <activity
            android:name=".VerEpisodiosActivity"
            android:label="@string/title_activity_ver_episodios">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuPacienteActivity" />
        </activity>
        <activity
            android:name=".RegistrarUsuarioActivity"
            android:label="@string/title_activity_registrar_usuario"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="grupo9.arquisoft.migrainetrackingmobile.RegistrarUsuarioActivity" />
        </activity>
        <activity
            android:name=".MenuDoctorActivity"
            android:label="@string/title_activity_menu_doctor" >
        </activity>
        <activity
            android:name=".VerEpisodiosDoctor"
            android:label="@string/title_activity_ver_episodios_doctor"
            android:parentActivityName=".MenuDoctorActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="grupo9.arquisoft.migrainetrackingmobile.MenuDoctorActivity" />
        </activity>
    </application>

</manifest>
