<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="grupo9.arquisoft.migrainetrackingmobile" >

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MenuPrincipalActivity"
            android:label="@string/title_activity_menu_principal"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="grupo9.arquisoft.migrainetrackingmobile.MainActivity" />
        </activity>
        <activity
            android:name=".RegistrarEpisodioActivity"
            android:label="@string/title_activity_registrar_episodio"
            android:parentActivityName=".MenuPrincipalActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="grupo9.arquisoft.migrainetrackingmobile.MenuPrincipalActivity" />
        </activity>
        <activity
            android:name=".GrabarEpisodioActivity"
            android:label="@string/title_activity_grabar_episodio"
            android:parentActivityName=".MenuPrincipalActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="grupo9.arquisoft.migrainetrackingmobile.MenuPrincipalActivity" />
        </activity>
        <activity
            android:name=".EscucharGrabacionesActivity"
            android:label="@string/title_activity_escuchar_grabaciones"
            android:parentActivityName=".MenuPrincipalActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="grupo9.arquisoft.migrainetrackingmobile.MenuPrincipalActivity" />
        </activity>
        <activity
            android:name=".AgregarMedicamentoActivity"
            android:label="@string/title_activity_agregar_medicamento"
            android:parentActivityName=".MenuPrincipalActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="grupo9.arquisoft.migrainetrackingmobile.MenuPrincipalActivity" />
        </activity>
        <activity
            android:name=".AgregarHabitoActivity"
            android:label="@string/title_activity_agregar_habito"
            android:parentActivityName=".MenuPrincipalActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="grupo9.arquisoft.migrainetrackingmobile.MenuPrincipalActivity" />
        </activity>
        <activity
            android:name=".VerAnalisisActivity"
            android:label="@string/title_activity_ver_analisis"
            android:parentActivityName=".MenuPrincipalActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="grupo9.arquisoft.migrainetrackingmobile.MenuPrincipalActivity" />
        </activity>
        <activity
            android:name=".VerEpisodiosActivity"
            android:label="@string/title_activity_ver_episodios"
            android:parentActivityName=".MenuPrincipalActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="grupo9.arquisoft.migrainetrackingmobile.MenuPrincipalActivity" />
        </activity>
        <activity
            android:name=".AgregarSintomaActivity"
            android:label="@string/title_activity_agregar_sintoma"
            android:parentActivityName=".RegistrarEpisodioActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="grupo9.arquisoft.migrainetrackingmobile.RegistrarEpisodioActivity" />
        </activity>
        <activity
            android:name=".AgregarCatalizadorActivity"
            android:label="@string/title_activity_agregar_catalizador"
            android:parentActivityName=".RegistrarEpisodioActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="grupo9.arquisoft.migrainetrackingmobile.RegistrarEpisodioActivity" />
        </activity>
        <activity
            android:name=".AgregarMedicamentosEpisodio"
            android:label="@string/title_activity_agregar_medicamentos_episodio"
            android:parentActivityName=".RegistrarEpisodioActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="grupo9.arquisoft.migrainetrackingmobile.RegistrarEpisodioActivity" />
        </activity>
        <activity
            android:name=".MenuDoctorActivity"
            android:label="Menu Doctor"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="grupo9.arquisoft.migrainetrackingmobile.MenuDoctorActivity"/>
            </activity>
    </application>

</manifest>
