<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<h2>Lista de Doctores</h2>
<div class="panel panel-default ">
    <ol class="breadcrumb">
      <li>Migraine Tracking</li>
      <li>Doctores</li>
      <li class="active">Lista General</li>
    </ol>
    <div class="panel-heading"><h4>Doctores</h4></div>
    <form class="form-inline">
      <input ng-model="query" type="text" placeholder="Buscar por nombre o por id" autofocus>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>Cedula</th>
                <th>Nombre</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="doctor in this.getDoctors.doctors |filter:query| orderBy:'id'">
                <th>{{doctor.id}}</th>
                <th>{{doctor.name}}</th>
            </tr>
        </tbody>
    </table>
</div>
