<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="panel panel-default panel-informacion">
    <div class="panel-heading">Informaci&oacute;n del Doctor</div>
        <div class="row">
            <div class="col-md-6">
                <h4>Nombre:</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h5>{{getDoctorDetalle.doctor.nombre}}</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4>N&uacte;mero de Identificaci&oacute;n:</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h5>{{getDoctorDetalle.doctor.noIdentificacion}}</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4>Fecha de Nacimiento:</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h5>{{getDoctorDetalle.doctor.fechaNacimiento}}</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4>Especialidad:</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h5>{{getDoctorDetalle.doctor.especialidad}}</h5>
            </div>
        </div>
</div>
