<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<h2>Lista de Pacientes</h2>
<div class="panel panel-default">
    <div class="panel-heading">Pacientes</div>
    <table class="table">
        <thead>
            <tr>
                <th>Cedula</th>
                <th>Nombre</th>
                <th>Fecha de Nacimiento</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="paciente in this.getPacientes.pacientes | orderBy:'cedula'">
                <th>{{paciente.cedula}}</th>
                <th>{{paciente.name}}</th>
                <th>{{paciente.birthdate | date}}</th>
            </tr>
        </tbody>
    </table>
</div>
