<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<h2>Lista de Pacientes</h2>
<div class="panel panel-default">
    <ol class="breadcrumb">
      <li>Migraine Tracking</li>
      <li>Pacientes</li>
      <li class="active">Lista General</li>
    </ol>
    <div class="panel-heading">Pacientes</div>
    <form class="form-inline">
      <input ng-model="query" type="text" placeholder="Buscar por nombre o id" autofocus>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>Cedula</th>
                <th>Nombre</th>
                <th>Fecha de Nacimiento</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="paciente in this.getPacientes.pacientes | filter:query |orderBy:'cedula'">
                <th>{{paciente.cedula}}</th>
                <th>{{paciente.name}}</th>
                <th>{{paciente.birthdate | date}}</th>
            </tr>
        </tbody>
    </table>
</div>
