<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="panel panel-default panel-informacion">
    <div class="panel-heading">Informaci&oacute;n del Paciente</div>
        <div class="row">
            <div class="col-md-6">
                <h4>Nombre:</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h5><!--aqui va el nombre--></h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4>N&uacte;mero de Identificaci&oacute;n:</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h5><!--aqui va el id--></h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4>Fecha de Nacimiento:</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h5><!--aqui va la fecha--></h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4>Peso:</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h5><!--aqui va el peso--></h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4>Estatura:</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h5><!--aqui va la estatura--></h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4>Medicamentos:</h4>
            </div>
        </div>
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Cantidad de veces</th>
                        <th>Intervalo de Horas</th>
                        <th>Miligramos</th>
                        <th>Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="medicamento in pacienteDetalle.paciente.medicamentos | orderBy:'fechaRecetado'">
                        <th>{{medicamento.nombre}}</th>
                        <th>{{paciente.cantidadVecesAlDia}}</th>
                        <th>{{paciente.intervaloHoras}}</th>
                        <th>{{paciente.miligramos}}</th>
                        <th>{{paciente.fechaRecetado|date}}</th>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4>Habitos:</h4>
            </div>
        </div>
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Tipo</th>
                        <th>Especificaci&oacute;n</th>
                        <th>Frecuencia</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="habito in pacienteDetalle.paciente.habitos | orderBy:'tipo'">
                        <th>{{medicamento.tipo}}</th>
                        <th>{{paciente.especificacion}}</th>
                        <th>{{paciente.frecuencia}}</th>
                    </tr>
                </tbody>
            </table>
        </div>
</div>
