<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<form class="navbar-form navbar-left" role="search" novalidate>
  <div class="form-group">
      <input type="text" class="form-control" type="number" placeholder="Ingrese el id del doctor" ng-model="getColegasDoctor.doctor.id" required="">
  </div>
    <button type="submit" class="btn btn-default" ng-submit="">Buscar colegas</button>
</form>
<div ng-show="getColegasDoctor.isSelect()">
    
</div>
