<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<h2>Lista de Doctores</h2>
<div class="panel panel-default">
    <div class="panel-heading">Doctores</div>
    <table class="table">
        <thead>
            <tr>
                <th>No Identificaci&oacute;n</th>
                <th>Nombre</th>
                <th>Fecha de Nacimiento</th>
                <th>Especialidad</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="doctor in getDoctors.doctores | orderBy:'noIdentificacion'">
                <th>{{doctor.noIdentificacion}}</th>
                <th>{{doctor.nombre}}</th>
                <th>{{doctor.fechaNacimiento}}</th>
                <th>{{doctor.especialidad}}</th>
            </tr>
        </tbody>
    </table>
</div>
