<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<h2>Lista de Pacientes</h2>
<div class="panel panel-default">
    <div class="panel-heading">Pacientes</div>
    <table class="table">
        <thead>
            <tr>
                <th>No Identificaci&oacute;n</th>
                <th>Nombre</th>
                <th>Fecha de Nacimiento</th>
                <th>Peso</th>
                <th>Estatura</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="paciente in this.getPacientes.pacientes | orderBy:'noIdentificacion'">
                <th>{{paciente.noIdentificacion}}</th>
                <th>{{paciente.nombre}}</th>
                <th>{{paciente.fechaNacimienyo}}</th>
                <th>{{paciente.peso}}</th>
                <th>{{paciente.estatura}}</th>
            </tr>
        </tbody>
    </table>
</div>
