<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="migraineTracking">
    <head>
        <title>Migraine Tracking</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/app.css">

    </head>
    <body>
        <div>Migraine Tracking</div>
        <script type="text/javascript" src="js/angular.min.js"></script>
        <script type="text/javascript" src="js/AngularControllers/app.js"></script>
        <script type="text/javascript" src="js/AngularControllers/doctor.js"></script>
        <script type="text/javascript" src="js/AngularControllers/episodio.js"></script>
        <script type="text/javascript" src="js/AngularControllers/paciente.js"></script>
        <div class="container theme-showcase" role="main">
            <navbar></navbar>
            <div ng-if="navbar.isSelected(1)">
                
            </div>
            <div ng-if="navbar.isSelected(11)">
                
            </div>
            <div ng-show="navbar.isSelected(12)">
                
            </div>
            <div ng-show="navbar.isSelected(13)">
                
            </div>
            <div ng-show="navbar.isSelected(14)">
                
            </div>
            <div ng-show="navbar.isSelected(2)">
                
            </div>
            <div ng-show="navbar.isSelected(21)">
                
            </div>
            <div ng-show="navbar.isSelected(22)">
                
            </div>
            <div ng-show="navbar.isSelected(23)">
                
            </div>
            <div ng-show="navbar.isSelected(24)">
                
            </div>
            <div ng-show="navbar.isSelected(25)">
                
            </div>
            <div ng-show="navbar.isSelected(26)">
                
            </div>
            <div ng-show="navbar.isSelected(3)">
                
            </div>
            <div ng-show="navbar.isSelected(31)">
                <doctor-info></doctor-info>
            </div>
            <div ng-show="navbar.isSelected(32)">
                
            </div>
            <div ng-show="navbar.isSelected(33)">
                
            </div>
            <div ng-show="navbar.isSelected(34)">
                
            </div>
            <div ng-show="navbar.isSelected(35)">
                
            </div>
        </div>      
    </body>
</html>
