<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="migraineTracking">
    <head>
        <title>Migraine Tracking</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/app.css">

    </head>
    <body>
        
        <script type="text/javascript" src="js/angular.min.js"></script>
        <script type="text/javascript" src="js/AngularControllers/app.js"></script>
        <script type="text/javascript" src="js/AngularControllers/doctor.js"></script>
        <script type="text/javascript" src="js/AngularControllers/episodio.js"></script>
        <script type="text/javascript" src="js/AngularControllers/paciente.js"></script>
        <div class="container theme-showcase" role="main">
            <div>
                <div class="fixed">
                    <h1>Migraine Tracking</h1>
                    <navbar></navbar>
                </div>
                <div class="flex-item">
                    <div ng-if="navbar.isSelected(0)">
                        <div class="row featurette">
                            <div class="col-md-5">
                                <img src="images/cerebro.jpg" class="img-responsive" alt="500x500" data-holder-rendered="true">
                            </div>
                            <div class="col-md-7">
                                <h2>Migraine Tracking</h2>
                                <p class="lead">
                                Bievenido a Migraine tracking! Aqui podras hacer un seguimiento detallado a los episodios de dolor de los pacientes.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div ng-if="navbar.isSelected(1)">
                        <div class="row featurette">
                            <div class="col-md-5">
                                <img src="images/pacientes.jpg" class="img-responsive" alt="500x500" data-holder-rendered="true">
                            </div>
                            <div class="col-md-7">
                                <h2>Pacientes</h2>
                                <p class="lead">
                                    Aqui podras revisar la lista de los pacientes registrados en Migraine Tracking. La lista de tus pacientes y la informaci&oacute;n de cada de uno de ellos.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div ng-if="navbar.isSelected(11)">
                        <paciente-info></paciente-info>
                    </div>
                    <div ng-show="navbar.isSelected(14)">
                        <paciente-detalle></paciente-detalle>
                    </div>
                    <div ng-show="navbar.isSelected(2)">
                        <div class="row featurette">
                            <div class="col-md-5">
                                <img src="images/episodio.jpg" class="img-responsive" alt="500x500" data-holder-rendered="true">
                            </div>
                            <div class="col-md-7">
                                <h2>Episodios de Dolor</h2>
                                <p class="lead">
                                Aqui podras ver los episodios de dolor de un paciente, ver los episodios por fechas y la lista de todos los episodios registrados en Migraine Tracking.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div ng-show="navbar.isSelected(21)">
                        <episodio-info></episodio-info>
                    </div>
                    <div ng-show="navbar.isSelected(22)">
                        <paciente-episodios></paciente-episodios>
                    </div>
                    <div ng-show="navbar.isSelected(23)">
                        <paciente-episodiosfechas></paciente-episodiosfechas>
                    </div>
                    <div ng-show="navbar.isSelected(24)">
                        <episodios-recientes></episodios-recientes>
                    </div>
                    <div ng-show="navbar.isSelected(25)">
                        
                    </div>
                    <div ng-show="navbar.isSelected(3)">
                        <div class="row featurette">
                            <div class="col-md-5">
                                <img src="images/doctor.jpg" class="img-responsive" alt="500x500" data-holder-rendered="true">
                            </div>
                            <div class="col-md-7">
                                <h2>Doctores</h2>
                                <p class="lead">
                                    Aqui podras ver la lista de colegas registrados en Migraine Tracking y su informaci&oacute;n detallada.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div ng-show="navbar.isSelected(31)">
                        <doctor-info></doctor-info>
                    </div>
                    <div ng-show="navbar.isSelected(32)">
                        <doctor-detalle></doctor-detalle>
                    </div>
                </div>
            </div>
            

        </div>      
    </body>
</html>
